html {
	width: 100%;
	height: 100%;
}

body {
	user-select: none;
	-webkit-user-select: none;
}

.button {
	cursor: pointer;
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;

	#app {
		max-width: 800px;
		min-height: 100%;
		margin: 0 auto;
		background-color: rgb(232, 232, 232);;
		color: #ffffff;

		.camera-box {
			max-width: 100%;
			max-height: 100%;
			width: 100%;
			height: 100%;

			video {
				width: 100%;
				margin: 0 auto;
				display: block;
			}

			#drawmap {
				display: none;
			}

			.buttons {
				width: 100%;
				height: 100px;
				margin-top: 20px;
				text-align: center;

				span.button {
					display: inline-block;
					border: 1px solid blue;
				}

				.snapButton {
					width: 80px;
					height: 80px;
					cursor: pointer;
					display: inline-block;
					background-color: rgb(0, 188, 212);
					text-align: center;

					border-width: 0;
					border-radius: 100%;

					span {
						width: 76px;
						height: 76px;
						border-width: 2px;
						border-color: #ffffff;
						border-radius: 100%;
					}
				}
			}
		}

		.photo-view {
			position: fixed;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			text-align: center;

			.photo {
				vertical-align: middle;
				margin: 0 auto;
				position: relative;
				top: 10%;

				img {
					
				}
			}

			.mask {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				background-color: #DADACE;
			}

		}

		.thumbbox {
			margin: 0;
			padding: 0;
			height: 124px;
			overflow: hidden;

			li {
				float: left;
				padding: 10px;
				list-style: none;
				overflow: hidden; 
				text-overflow: ellipsis;
				white-space: nowrap;
			}

			img {
				display: inline-block;
				width: 100%;
			}

			.thumb {
				display: inline-block;
				width: 120px;
				height: 120px;

				&:hover {

					img {
						transform: scale(1.1);
						transform-origin: 50%;
					}
				}
			}
		}

		
	}
}